<a href="https://colab.research.google.com/github/sabyasachi27/identify-spam-emails/blob/main/identify_spam_emails.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
layers = tf.keras.layers
url = '/content/drive/MyDrive/Spam detection model/emails.csv'
data = pd.read_csv(url)

In [23]:
data.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [24]:
x_train = data.iloc[:, 1:3001]

y_train = pd.get_dummies(data['Prediction'])
del data['Prediction']

In [25]:
x_train = np.asarray(x_train)
y_train = np.asarray(y_train)

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.2)  # split train and test
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.05)  # split train adn validation

In [27]:
# building the model
model = tf.keras.models.Sequential()
model.add(layers.Dense(3000, input_dim=3000, activation='relu'))
model.add(layers.Dropout(0.2))
model.add(layers.Dense(1000, activation='relu'))
model.add(layers.Dropout(0.2))
model.add(layers.Dense(2, activation='sigmoid'))
model.summary()

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
history = model.fit(x_train, y_train, epochs=10, batch_size=100, validation_data=(x_val, y_val))
evaluation = model.evaluate(x_test, y_test)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 3000)              9003000

 dropout_2 (Dropout)         (None, 3000)              0

 dense_4 (Dense)             (None, 1000)              3001000

 dropout_3 (Dropout)         (None, 1000)              0

 dense_5 (Dense)             (None, 2)                 2002

=================================================================
Total params: 12,006,002
Trainable params: 12,006,002
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
40/40 [==============================] - 7s 164ms/step - loss: 2.1982 - accuracy: 0.8628 - val_loss: 0.1769 - val_accuracy: 0.9565
Epoch 2/10
40/40 [==============================] - 7s 173ms/step - loss: 0.1379 - accuracy: 0.9631 - val_loss: 0.2254 - val_accuracy: 0.9517
Epoch 3/10
40/40 [==============================] - 7s 185ms/step - loss: 0.1316 - accuracy: 0.9743 - val_loss: 0.8980 - val_accuracy: 0.8792
Epoch 4/10
40/40 [==============================] - 6s 161ms/step - loss: 0.1185 - accuracy: 0.9751 - val_loss: 0.2605 - val_accuracy: 0.9469
Epoch 5/10
40/40 [==============================] - 6s 159ms/step - loss: 0.0430 - accuracy: 0.9906 - val_loss: 0.1721 - val_accuracy: 0.9614
Epoch 6/10
40/40 [==============================] - 6s 159ms/step - loss: 0.1042 - accuracy: 0.9720 - val_loss: 0.3245 - val_accuracy: 0.9420
Epoch 7/10
40/40 [==============================] - 6s 159ms/step - loss: 0.0127 - accuracy: 0.9964 - val_loss: 0.2670 - val_accuracy: 0.9565
Epoch 8/10
40/40 [==============================] - 6s 159ms/step - loss: 0.0915 - accuracy: 0.9855 - val_loss: 0.4219 - val_accuracy: 0.9324
Epoch 9/10
40/40 [==============================] - 6s 159ms/step - loss: 0.0256 - accuracy: 0.9929 - val_loss: 0.2391 - val_accuracy: 0.9662
Epoch 10/10
40/40 [==============================] - 6s 158ms/step - loss: 0.0120 - accuracy: 0.9977 - val_loss: 0.1869 - val_accuracy: 0.9662
33/33 [==============================] - 1s 26ms/step - loss: 0.3002 - accuracy: 0.9643

In [28]:
print( history.history.get('accuracy'))
print( history.history.get('val_accuracy'))

[0.8628498911857605, 0.9631043076515198, 0.9743002653121948, 0.9750636219978333, 0.9905852675437927, 0.9720101952552795, 0.996437668800354, 0.9854961633682251, 0.992875337600708, 0.9977099299430847]
[0.95652174949646, 0.9516907930374146, 0.8792270421981812, 0.9468598961830139, 0.9613526463508606, 0.9420289993286133, 0.95652174949646, 0.9323671460151672, 0.966183602809906, 0.966183602809906]